[class*="jackrose-animation"]
  -webkit-animation-duration: 1s
  -moz-animation-duration: 1s
  -o-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-iteration-count: 1
  -moz-animation-iteration-count: 1
  -o-animation-iteration-count: 1
  animation-iteration-count: 1
  opacity: 0
  &.jackrose-animate
    opacity: 1

.jackrose-no-animate
  -webkit-animation: none !important
  -moz-animation: none !important
  -o-animation: none !important
  animation: none !important
  opacity: 1

@-webkit-keyframes jackrose-fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@-moz-keyframes jackrose-fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@-o-keyframes jackrose-fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes jackrose-fade-in
  0%
    opacity: 0
  100%
    opacity: 1

.jackrose-animation-fade-in
  &.jackrose-animate
    -webkit-animation-name: jackrose-fade-in
    -moz-animation-name: jackrose-fade-in
    -o-animation-name: jackrose-fade-in
    animation-name: jackrose-fade-in

@-webkit-keyframes jackrose-fade-in-up
  0%
    opacity: 0
    -webkit-transform: translate(0, 100px)
  100%
    opacity: 1
    -webkit-transform: translate(0, 0)

@-moz-keyframes jackrose-fade-in-up
  0%
    opacity: 0
    -moz-transform: translate(0, 100px)
  100%
    opacity: 1
    -moz-transform: translate(0, 0)

@-o-keyframes jackrose-fade-in-up
  0%
    opacity: 0
    -o-transform: translate(0, 100px)
  100%
    opacity: 1
    -o-transform: translate(0, 0)

@keyframes jackrose-fade-in-up
  0%
    opacity: 0
    transform: translate(0, 100px)
  100%
    opacity: 1
    transform: translate(0, 0)

.jackrose-animation-fade-in-up
  &.jackrose-animate
    -webkit-animation-name: jackrose-fade-in-up
    -moz-animation-name: jackrose-fade-in-up
    -o-animation-name: jackrose-fade-in-up
    animation-name: jackrose-fade-in-up

