=media($width: "", $height: "")
  @if $height != "" and $width != ""
    @media (max-width: $width) and (max-height: $height)
      @content
  @else if $width != ""
    @media (max-width: $width)
      @content
  @else if $height != ""
    @media (max-height: $height)
      @content

=media-height($height: "")
  @if $height != ""
    @media (max-height: $height)
      @content

=media-max-min($width-max: "", $width-min: "")
  @media screen and (max-width: $width-max) and (min-width: $width-min)
    @content

=transition-show
  visibility: visible
  opacity: 1
  transition: opacity $transition-fast, visibility 0s 0s
=transition-hide
  visibility: hidden
  opacity: 0
  transition: opacity $transition-fast*2, visibility 0s $transition-fast*2

=border-radius($radius)
  border-radius: $radius
  -webkit-border-radius: $radius
  -moz-border-radius: $radius

=transform-rotate($degress)
  -ms-transform: rotate($degress)
  -webkit-transform: rotate($degress)
  transform: rotate($degress)

=linear-gradient($degress)
  background: linear-gradient($degress, #08E2AA 0, #08C4C1 100%)

=transform($transform)
  transform: $transform
  -webkit-transform: $transform
  -moz-transform: $transform
  -ms-transform: $transform

=zoom($zoom)
  zoom: $zoom //all browsers
  -moz-transform: scale($zoom) // Firefox
