#primary


#main
  display: block
  &.no-sidebar
    width: auto !important
    float: none
  .section
    .and-box
      line-height: 270px
      font-size: 130px
      color: #888888
      padding: 0 30px
    .avatar-box
      height: 270px
      .names
        text-align: center
        font-style: italic
        padding: 50px 0 0
        font-family: $font-text
        color: $gold-color
        +media($max-sm)
          padding: 40px 0 0
      .photo
        width: 240px
        height: 240px
        border-radius: 50%
        background-size: cover
        background-repeat: no-repeat
        position: relative
        img
          position: absolute
          margin: 0 auto
          left: 0
          right: 0
        &.first
          background-position: right
          background-image: url('../img/tomas.jpg')
          img
            bottom: -25px
            height: 60px
            +media($max-sm)
              height: 42px
              bottom: -18px
        &.second
          background-image: url('../img/rutka.jpg')
          background-position: center
          img
            height: 120px
            bottom: -45px
            +media($max-sm)
              height: 90px
              bottom: -35px

  .first-section
    display: flex
    flex-direction: row
    justify-content: center
    padding: 80px 0
    +media($max-sm)
      padding: 40px 0
      flex-direction: column
      text-align: center
      .and-box
        line-height: 80px
        font-size: 64px
      .avatar-box
        height: auto
        .names
          font-size: 22px
        .photo
          width: 165px
          height: 165px
          margin: 0 auto
          position: relative


  .main-info
    padding: 0 0 60px
  .countdown-box
    padding: 60px 0
    background-color: #f6f4f2
    .countdown
      .countdonw-block
        display: flex
        flex-direction: row
        justify-content: center
        .time-block
          font-family: $font-text
          font-style: italic
          width: 90px
          text-align: center
          font-size: 54px
          +media($max-xs)
            font-size: 40px
          .time-section
            padding-top: 15px
            font-size: 14px
  .about-us
    padding: 80px 0
    text-align: center
    +media($max-xs)
      padding: 40px 0
    .about-box
      padding-top: 40px
      +media($max-xs)
        padding-top: 25px
      .person
        display: flex
        flex-direction: row
        background-color: $main-color
        text-align: left
        font-family: $font-text
        font-style: italic
        &.second
          .photo
            background-image: url('../img/together.jpg')
        +media($max-sm)
          flex-direction: column
          &.second
            flex-direction: column-reverse

        .photo
          width: 50%
          height: 370px
          background-image: url('../img/together-revert.jpg')
          background-size: cover
          background-position: center
          background-repeat: no-repeat
          +media($max-sm)
            width: 100%
            height: 300px
        .about
          width: 50%
          padding: 80px 0
          color: #888
          +media($max-md)
            padding: 40px 0 20px
          +media($max-sm)
            width: 100%

          h3
            padding: 0 40px 15px
          p
            display: inline-block
            padding: 0 40px
            font-size: 16px
            line-height: 26px
            color: #888
            +media($max-xs)
              font-size: 14px
          .social-network
            padding: 20px 40px
            font-size: 16px
            a
              color: inherit
              &:hover
                transition: all .3s
                color: black
            i
              margin-right: 10px
  .when-where
    background-color: $main-color
    padding: 80px 0
    text-align: center
    +media($max-sm)
      .box-row
        flex-direction: column
    +media($max-xs)
      padding: 40px 0

    h2
      padding-bottom: 40px
      +media($max-xs)
        padding-bottom: 25px

    .info-box
      background-color: white
      position: relative
      flex: 1
      &.first
        margin-right: 30px
        +media($max-sm)
          margin-right: 0
      .photo
        height: 230px
        background-size: cover
        background-position: center
        &.photo-church
          background-image: url('../img/kostol.jpg')
        &.photo-party
          background-image: url('../img/sala.jpg')
      .text
        padding: 50px 40px
        +media($max-md)
          padding: 40px 30px
        h3
          text-transform: uppercase
          padding-bottom: 20px
        p
          font-size: 15px
          line-height: 26px
          color: $text-color
        .important-info
          padding-top: 30px
          display: inline-block
          color: $text-color-dark
          line-height: 26px

  .motto
    padding: 80px 0
    text-align: center
    line-height: 34px
    background-image: url("../img/cover-new.png")
    background-size: 101%
    background-position: center
    background-repeat: no-repeat
    background-color: $main-color
    blockquote
      font-size: 22px
    +media($max-sm)
      background-size: 101%
      padding: 0
      height: 250px
      blockquote
        font-size: 18px
        line-height: 30px
      .wrapper
        height: 100%
    .slider-box
      +media($max-sm)
        .slick-list
          height: 210px !important

      .motto-content
        padding-top: 90px
        padding-bottom: 60px
        &.extra
          +media($max-sm)
            padding-top: 45px
            padding-bottom: 10px
          +media($max-xs)
            padding-top: 20px
            padding-bottom: 0

  .next-info
    text-align: center
    background-color: $main-color
    padding: 80px 0
    +media($max-sm)
      .box-row
        flex-direction: column
    +media($max-xs)
      padding: 40px 0 20px

    h2
      padding-bottom: 40px
      +media($max-xs)
        padding-bottom: 20px
    .info-box
      flex: 1
      &.first
        margin-right: 30px
        +media($max-sm)
          margin-right: 0
      .photo
        height: 200px
        background-repeat: no-repeat
        background-position: center
        &.photo-party
          background-size: contain
          background-image: url("../img/party.png")
        &.photo-hotel
          background-size: cover
          background-image: url("../img/troja.jpg")
      .text
        padding: 50px 40px
        +media($max-md)
          padding: 40px 30px
        h3
          text-transform: uppercase
          padding-bottom: 20px
        p
          font-size: 15px
          line-height: 26px
          color: $text-color
        .important-info
          padding-top: 30px
          display: inline-block
          color: $text-color-dark
          line-height: 26px





