footer
  height: 600px
  padding: 280px 0 45px
  text-align: center
  position: relative
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  background-image: url("../img/footer3.jpeg")
  opacity: 0.6
  img
    width: 210px
    height: 210px
  p
    position: absolute
    bottom: 45px
    text-align: center
    width: 100%
    color: white
    span
      display: inline-block
      font-size: 16px !important
      +media($max-xs)
        font-size: 14px !important

