#header
.header-anchor
  height: 71px
.header-section, .header-section a, .header-navigation-toggle
  color: $text-color

.header-section, .header-navigation ul ul, .header-navigation ul ul li
  border-color: $border-color

.header-section .ribbon-menu, .header-section .ribbon-menu:hover, .header-section .ribbon-menu:focus
  background-color: $gold-color
  color: #ffffff

.header-section.floating
  position: fixed
  width: 100%
  left: 0
  top: 0
  margin-top: 0


.header-section
  position: absolute
  left: 0
  z-index: 999
  width: 100%
  height: 71px
  border-bottom: 1px solid #e5e5e5
  font-size: 12px
  font-style: italic
  line-height: 20px
  letter-spacing: .1em
  text-transform: uppercase
  background-color: white
  .ribbon-menu
    background-color: $gold-color
    color: #ffffff
    &:after
      border-color: $gold-color

.header-logo
  position: absolute
  top: 0
  left: 0
  width: 60px
  height: 70px
  padding: 10px 0
  margin: 0 0 0 15px
  line-height: 50px
  a
    display: inline-block
  img
    display: inline-block
    margin-top: -5px
    vertical-align: middle
    max-height: 50px

.header-navigation-toggle
  display: none
  width: 30px
  height: 30px
  float: right
  padding: 0
  margin: 20px 0
  background-color: transparent
  border: 0
  font-size: 20px
  line-height: 30px
  &:hover, &:focus
    background-color: transparent


.header-navigation
  display: block
  padding: 0 70px
  clear: both
  text-align: center
  div
    ul
      display: table
      li
        padding: 25px 0
        margin: 0 1.5em
        float: left
        border-color: $border-color
        a
          &:after
            content: ""
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 3px
            margin-bottom: -1px
            background-color: transparent
            transition: all .3s

  ul
    list-style: none
    margin: 0 auto
    padding: 0
    white-space: nowrap
    li
      &:hover > ul, &:focus > ul
        left: auto
        opacity: 1
        visibility: visible


  li
    position: relative
    border-color: $border-color
    &:hover, &.hovered
      transition: all .3s
      a
        color: black
        &:after
          background-color: $gold-color

    img
      max-width: none
    a
      display: block
      text-decoration: none


@media screen and (max-width: 1023px)
  .header-navigation
      > div
        position: absolute
        left: 0
        right: 0
        background-color: #ffffff
        top: -999em
        opacity: 0
        visibility: hidden
        > ul
          display: block
          border: 1px solid $border-color
          border-top: 0
          border-bottom: 0
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
          overflow: auto
          > li
            padding: 0
            margin: 0
            float: none
            a:after
              display: none
      li
        margin: 0
        padding: 0
        float: none
        border-bottom: 1px solid
        a
          padding: 1em
  .header-navigation-toggle
    display: inline-block
    &.active~div
      top: 71px
      opacity: 1
      visibility: visible
  .header-logo+.header-navigation
    padding-right: 0


