#hero
  &.hero-section
    position: relative
    height: 100%
    max-height: 100vh

  .hero-slider
    position: relative
    height: 100%
    overflow: hidden
    .hero-slider-box
      position: relative
      height: 100%
      .slick-list
        height: 100%
        .slick-track
          height: 100%
      .slider-content
        > div
          position: relative
          background-repeat: no-repeat
          background-size: cover
          background-position: center
          height: 100%
        .first
          background-image: url("/web/img/slider/slider4new2.jpg")
          +media($max-sm)
            background-position: right
        .second
          background-image: url("/web/img/slider/slider2new.jpg")
        .third
          background-image: url("/web/img/slider/slider1.jpg")



  .hero-effect
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    overflow: hidden
    z-index: 1
    pointer-events: none
    .sakura
        background-color: black

  .hero-logo
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 1
    text-align: center
    padding: 70px 0
    .wrapper
      position: relative
      height: 100%
    .hero-logo-image
      position: relative
      display: flex
      justify-content: center
      height: 100%
    .hero-action
      position: absolute
      bottom: -60px
      left: 0
      width: 100%
      text-align: center

    .hero-button
      color: white
      display: inline-block
      line-height: 20px
      letter-spacing: .1em
      text-transform: uppercase
      -webkit-animation: jackrose-hero-button 2s ease-in-out 0s infinite
      -moz-animation: jackrose-hero-button 2s ease-in-out 0s infinite
      -o-animation: jackrose-hero-button 2s ease-in-out 0s infinite
      animation: jackrose-hero-button 2s ease-in-out 0s infinite
      span
        display: block
        font-size: 12px
      i
        display: block
        margin-top: 5px
        font-size: 20px
        font-style: normal
    img
      display: block
      width: 500px
      max-width: 100%
      height: auto
      +media($max-lg)
        width: 300px
      +media($max-md)
        width: 250px
      +media($max-sm)
        width: 200px
      +media($max-xs)
        width: 160px


  @-webkit-keyframes jackrose-hero-button
    0%
      -webkit-transform: translate(0, 0)
    50%
      -webkit-transform: translate(0, -30px)

  @-moz-keyframes jackrose-hero-button
    0%
      -moz-transform: translate(0, 0)
    50%
      -moz-transform: translate(0, -30px)

  @-o-keyframes jackrose-hero-button
    0%
      -o-transform: translate(0, 0)
    50%
      -o-transform: translate(0, -30px)

  @keyframes jackrose-hero-button
    0%
      transform: translate(0, 0)
    50%
      transform: translate(0, -30px)





