@import url('https://fonts.googleapis.com/css?family=Alex+Brush&subset=latin-ext')

html
    box-sizing: border-box
    height: 100% !important

body
    font-family: $font-stack
    font-weight: normal
    font-size: 26px
    height: 100%
    background: white
    color: $text-color
    margin: 0
    display: block

    .text-center
        text-align: center

    h1,h2,h3
        color: $gold-color
    a
        color: inherit
        &:hover
            color: black
    .text
        font-family: Georgia,Times,"Times New Roman",serif
        font-style: italic
        font-size: 18px
        +media($max-xs)
            font-size: 16px


    strong
        font-weight: 600
        color: $text-color-dark

    h2
        font-size: 56px
        line-height: 68px
        +media($max-xs)
            font-size: 40px

    .box-row
        display: flex
        flex-direction: row

    .box-columnt
        display: flex
        flex-direction: column

    .typography-menu, .button, button, input[type="button"], input[type="reset"], input[type="submit"], .header-section, .nav-links, #cancel-comment-reply-link
        font-family: Georgia,Times,"Times New Roman",serif

    .clear:before, .clear:after, .wrapper:before, .wrapper:after
        content: ""
        display: table

    .button, button, input[type="button"], input[type="reset"], input[type="submit"]
        background-color: #b4d2c8
        border-color: #b4d2c8
        color: #ffffff

    .screen-reader-text
        clip: rect(1px,1px,1px,1px)
        position: absolute !important
        height: 1px
        width: 1px
        overflow: hidden

    #page
        position: relative
        height: 100%
    #top
        position: absolute
        top: 0

    a
        text-decoration: none
        transition: all .25s ease-in-out
        background-color: transparent

    img
        height: auto
        max-width: 100%
        border: 0

    .ribbon-menu
        position: absolute
        top: 0
        right: 0
        z-index: 1
        width: 60px
        height: 80px
        margin: 0px 5px 0 0
        padding: 0
        color: #fff
        text-align: center
        transition: all .25s ease-in-out
        &:before
            content: ""
            display: inline-block
            height: 100%
            width: 0
            vertical-align: middle
        &:after
            content: ""
            position: absolute
            top: 100%
            left: 0
            width: 0
            height: 10px
            border-left: 30px solid
            border-right: 30px solid
            border-bottom: 10px solid
            border-bottom-color: transparent !important
        &:hover, &:focus
            padding-top: 10px
            height: 90px
        span
            vertical-align: middle
            display: inline-block
            max-width: 90%

    .wrapper
        position: relative
        width: 970px
        padding: 0 15px
        margin-left: auto
        margin-right: auto

    .wrapper:before, .wrapper:after
        content: ""
        display: table
    .wrapper:after
        clear: both
    @media screen and (min-width:1200px)
        .wrapper
            width: 1110px

    @media screen and (max-width:1023px)
        .wrapper
            width: 760px

    @media screen and (max-width:767px)
        .wrapper
            width: 510px

    @media screen and (max-width:519px)
        .wrapper
            width: auto !important


